html,
body {
  font-family: Arial, sans-serif;
}

/* Gemeinsamer Container für #gehalt und #liveCounter */
#counter-container {
  display: flex;
  justify-content: center; /* Zentriert die beiden Boxen horizontal */
  gap: 20px; /* Abstand zwischen #gehalt und #liveCounter */
}

#menu {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  background-color: rgb(133, 133, 133);
  padding: 20px;
  border-radius: 10px;
}

#liveCounter {
  background-color: rgb(14, 192, 82);
  padding: 20px;
  border-radius: 10px;
  width: 30vh;
  display: none; /* Startet als versteckt */
}

#gehalt {
  color: white;
  background-color: rgb(14, 106, 192);
  padding: 20px;
  border-radius: 10px;
  width: 30vh;
}

button {
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 1vh;
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: #ffcccc;
}

#info,
#counter-container {
  margin-top: 20px;
}
