html,
body {
  font-family: Arial, sans-serif;
}

/* Gemeinsamer Container für #gehalt und #liveCounter */
#counter-container {
  display: flex;
  justify-content: center; /* Zentriert die beiden Boxen horizontal */
  gap: 20px; /* Abstand zwischen #gehalt und #liveCounter */
  flex-direction: column;
}

#menu {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: center;
  background-color: rgb(133, 133, 133);
  padding: 20px;
  border-radius: 10px;
  width: 110%;
  height: fit-content;
  margin-left: -10%;
}

#liveCounter {
  background-color: rgb(14, 192, 82);
  padding: 20px;
  border-radius: 10px;
  width: fit-content;
  height: fit-content;
  display: none; /* Startet als versteckt */
}

#gehalt {
  color: white;
  background-color: rgb(14, 106, 192);
  padding: 20px;
  border-radius: 10px;
  width: 30vh;
  height: fit-content;
}

button {
  padding: 10px 20px;
  font-size: clamp(1rem, 3vw, 1rem); /* Minimale Größe: 1rem, Dynamisch: 3vw, Maximale Größe: 2rem */
  border-radius: 1vh;
  border: none;
  cursor: pointer;
  width: fit-content;
}

button:hover {
  background-color: #b4b4b4;
}

#info,
#counter-container {
  margin-top: 20px;
  cursor: pointer;
  transition: 0.2s;
}

#info{
  background-color: rgb(98, 202, 202);
  padding: 2vh;
  width: fit-content;
  border-radius: 1vh;
}

#info:hover{
  background-color: rgb(98, 202, 202);
  padding: 2vh;
  width: fit-content;
  border-radius: 2vh;
}

.middleline{
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-direction: row;
}